.table {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 70%;
    overflow: auto;

    &-row:first-child {
        border-top: none;
    }

    &-row:nth-child(2n) {
        background-color: rgb(231 231 231);
    }

    &-row {
        padding: 5px;
        border-top: 1px solid #00000014;
        display: flex;
        justify-content: space-around;
        align-items: center;

        &-start {
            width: 10%;
            display: flex;
            justify-content: center;
            border-right: 1px solid #00000069;
        }

        &-end {
            width: 10%;
            display: flex;
            justify-content: center;
        }

        &-text {
            border-left: 1px solid #00000069;
            width: 35%;
            text-align: center;
        }
    }
}

@media (max-width:768px) {



    .table {
        height: 75%;
        width: 90%;
        
        &-row {
            &-start {
                font-size: 10px;
                width: 13%;
            }
            &-end {
                font-size: 10px;
                width: 13%;
            }
            &-text {
                font-size: 10px;
            }
        }
    }

}