.header {
    height: 8%;
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    align-items: center;

    p {
        margin: 0px;
    }

    button {
        height: 80%;
        font-size: 15px;
        background-color: #e7e7e7;
        color: #000;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: transform 0.2s;
    }

    button:hover {
        transform: scale(1.05);
    }


    button:active {
        transform: scale(0.95);
    }

    select {
        text-align: center;
        height: 80%;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
        appearance: none;
        background-color: #fff;
        cursor: pointer;

        &:focus {
            outline: none;
            border-color: #007bff;
        }

        option {
            font-size: 16px;
        }
    }
}

@media (max-width:768px) {
    .header {
        

        width: 100%;
        justify-content: space-evenly;
        flex-wrap: wrap;
        height: 10%;

        button {
            height: 45%;
        }

        select {
            height: 45%;
        }
    }
}